<!doctype html>
<html class="no-js loading {{target}}" lang="en">

    {{> head}}

    <body>
        {{> gtm_body}}
        
        {{> svgSprite}}

        {{> header}}

        <div class="forceRatio">
		    <div class="forceRatio__inner">
		        {{~> @partial-block}}
		    </div>
		</div>

        {{> footer}}

        <script type="text/javascript" src="js/script.js"></script>

        {{> tracking}}
    </body>
</html>