<div class="modal modal--disconnect">
    <div class="modal__box">
        <h2>Connection lost</h2>
        <p>Please reconnect to the internet and refresh the browser</p>
        <p>If the problem persists it could be an issue with the server, digital will be trying to resolve the issue, please try again later.</p>
        <button class="button" onclick="window.location.reload();">Reload</button>
    </div>
</div>