<li>
	<strong>Zipped packages</strong>:

	<ul>
		<li>
			<strong>Expiry date</strong>: 
			<%= new Date(new Date().setMonth(new Date().getMonth() + 2)).toDateString() %>
		</li>
		<%= 
			[
				{
					"name": "App",
					"zip": "_App"
				},
				{
					"name": "Mac app",
					"zip": "_Mac",
					"check": function(){
						return contentJson.attributes.electron;
					}
				},
				{
					"name": "Windows app",
					"zip": "_Win",
					"check": function(){
						return contentJson.attributes.electron;
					}
				}
			].reduce(function(prev, next){
				if(next.check && !next.check()){
					return prev;
				}

				var ext = encodeURI('http://internal.fishawack.staging/Auto-Package/' + pkg.name + '/' + contentJson.attributes.title + '_' + pkg.version + '_' + grunt.template.today("dd-mm-yy") + next.zip + '.zip');
				var raw = getFilesizeInBytes("_Zips/" + contentJson.attributes.title + "_" + pkg.version + "_" + grunt.template.today("dd-mm-yy") + next.zip + ".zip");

				var name = '<strong>' + next.name + '</strong>:';
				var url = '<li><a href="' + ext + '">' + ext + '</a></li>';
				var size = '<li><strong>Size</strong>: ' + raw + '</li>';

				return prev += '<li>' + name + '<ul>' + url + size + '</ul></li>';
			}, '')
		%>
	</ul>
</li>