<li>
	<strong>Zipped package</strong>:

	<ul>
		<li>
			<strong>Expiry date</strong>: 
			<%= new Date(new Date().setMonth(new Date().getMonth() + 2)).toDateString() %>
		</li>
		<%= 
			[
				{
					"name": "App",
					"zip": "_App"
				},
				{
					"name": "Veeva",
					"zip": "_Veeva",
					"check": function(){
						return contentJson.attributes.veeva;
					}
				},
				{
					"name": "Cegedim",
					"zip": "_Cegedim",
					"check": function(){
						return contentJson.attributes.cegedim;
					}
				},
				{
					"name": "Vablet",
					"zip": "_Vablet",
					"check": function(){
						return contentJson.attributes.vablet;
					}
				},
				{
					"name": "Mac app",
					"zip": "_Mac",
					"check": function(){
						return contentJson.attributes.electron;
					}
				},
				{
					"name": "Windows app",
					"zip": "_Win",
					"check": function(){
						return contentJson.attributes.electron;
					}
				},
				{
					"name": "iOS app",
					"zip": "_iOS",
					"check": function(){
						return contentJson.attributes.phonegap;
					}
				}
			].reduce(function(prev, next){
				if(next.check && !next.check()){
					return prev;
				}

				var filename = config.filename + next.zip + '.zip'; 
				var ext = encodeURI('http://internal.fishawack.staging/Auto-Package/' + pkg.name + '/' + filename);
				var raw = getFilesizeInBytes("_Zips/" + filename);

				var name = '<strong>' + next.name + '</strong>:';
				var url = '<li><a href="' + ext + '">' + filename + '</a></li>';
				var size = '<li><strong>Size</strong>: ' + raw + '</li>';

				return prev += '<li>' + name + '<ul>' + url + size + '</ul></li>';
			}, '')
		%>
	</ul>
</li>