.unused{
    color: blue;
}

.used{
    color: blue;
}

.foo.active{
    color: blue;
}

.foo.deactive{
    color: blue;
}

.foo.disabled{
    color: blue;
}

.foo.capture{
    color: blue;
}

.foo.labD3{
    color: blue;
}