<noscript>
	<div class="modal active">
	    <div class="modal__container">
		    <div class="modal__box">
		        <h2>Javascript disabled</h2>
		        <p>This site relies heavily on javascript, without it there really isn't much to show you.</p>
		        <p>Please enable javascript and reload the page.</p>
		    </div>
	    </div>
	</div>
</noscript>