**/*.DS_Store
.sass-cache
node_modules/
**/npm-debug.log
.tmp/
_Zips/
_Pdfs/
coverage/
**/generated/**/*
_Build/**/pulled/**/*
_Output
_Login
_Packages
_Build/content
_Build/media/content
_App
_Electron
_Node/stats
ssh-*
.ftppass
id_rsa
misc.json