
.class-1 {
  color: red;
}

.class-3 {
  color: red;
}

.class-4 {
  color: red;
}

.class-5 {
  color: red;
}

.class-6 {
  color: red;
}

.blade-class {
  color: red;
}

.twig-class {
  color: red;
}
